extends layout
include mixins

block code
    script(src='index.js')

block title
    title Insight Server status

block content
    .panel.panel-info
        .panel-heading
            h3 Insight Server status
        .panel-body
            +status_row("Insight Server", status['gpfdist']['active'])
            +status_row("GPFDist", status['gpfdist']['active'])
            +status_row("LoadTables", status['datamodel']['load_tables'])
            +status_row("Reporting", status['datamodel']['reporting'])
    each category in status
        .panel.panel-info
            .panel-heading
                h3= category
            .panel-body
                each val in status[category]
                    +info(val, status[category][val])
