doctype html
html(lang="en")
    head
        block title
            title Palette Insight Server
        link(rel="icon" href="favicon.ico")
        link(rel='stylesheet', href='bootstrap.min.css')
        script(src='jquery-1.12.4.min.js')
        script(src='bootstrap.min.js')
        block code
    body
        .page-header
            h1
                img(src="insight_logo.png")
        .container-fluid
            .row
                .col-sm-12
                    block content
