doctype html
html(lang="en")
    head
        block title
            title Palette Insight Server
        link(rel='stylesheet', href='bootstrap.min.css')
        script(src='jquery-1.12.4.min.js')
        block code
    body
        .container-fluid
            .row
                .col-sm-12
                    block content
